---
title: "Balance: Mindful time tracking"
appName: "Balance"
subtitle: "Available on Mac"
intro: "A time tracking app with focus on work-life balance."
appId: 1637311725
wideImage: true
---

{% from 'components/recognitionHeader.njk' import recognitionHeader with context %}

<div class="flex wide">
	<div>
		<h2>App features</h2>
		<div class="spacer-s"></div>
		<ul class="arrowed">
			<li>Clocking system</li>
			<li>Mindful time tracking</li>
			<li>Break reminders</li>
			<li>Clock-out reminder</li>
			<li>Focus/pomodoro timer</li>
			<li>Menu bar app</li>
			<li>Session exports</li>
			<li>(Pro) Session log with trends</li>
		</ul>
	</div>
	<div>
		<h2>Planned</h2>
		<div class="spacer-s"></div>
		<ul class="arrowed">
			<li>Goals</li>
			<li>Time categorization</li>
			<li>Focus filters</li>
			<li>App/website blocking</li>
			<li>Improved history</li>
			<li>Mobile app</li>
			<li>… and more!</li>
		</ul>
	</div>
</div>

<div class="spacer-xxl-desktop"></div>

<div class="flex">
	{% image "./img/apps/balance/mac-1.jpg",
	"Screenshot of Balance app",
	[1280],
	"100vw" %}

	{% image "./img/apps/balance/mac-2.jpg",
	"Screenshot of Balance app",
	[1280],
	"100vw" %}
</div>

<div class="spacer-l"></div>

<div class="flex">
	{% image "./img/apps/balance/mac-3.jpg",
	"Screenshot of Balance app",
	[1280],
	"100vw" %}

	{% image "./img/apps/balance/mac-4.jpg",
	"Screenshot of Balance app",
	[1280],
	"100vw" %}
</div>

<div class="spacer-l"></div>

<div class="flex">
	{% image "./img/apps/balance/mac-5.jpg",
	"Screenshot of Balance app",
	[1280],
	"100vw" %}

	{% image "./img/apps/balance/mac-6.jpg",
	"Screenshot of Balance app",
	[1280],
	"100vw" %}
</div>

<div class="spacer-xxl-desktop"></div>

<h2>Recognition</h2>

<div class="spacer-l"></div>

<div class="two-columns large-gap">
	<div>
		<article class="separator-l">
			{{ recognitionHeader("#1 Product of the Day", "Product Hunt · December 27, 2022", "https://www.producthunt.com/posts/balance-855f20db-49ff-48ee-8096-6d33de52b71a") }}
			<div class="spacer-s"></div>
			<p class="subhead foreground-secondary">
				Also #3 Product of the Week. Thank you to everyone who voted! ❤️
			</p>
			<p>
				<a href="https://www.producthunt.com/posts/balance-855f20db-49ff-48ee-8096-6d33de52b71a">
					{% image "./img/apps/balance/potd.jpg",
					"Balance as the #1 Product of the Day",
					[
						640, 1280
					],
					"100vw" %}
				</a>
			</p>
		</article>

		<article class="separator-l">
			{{ recognitionHeader("Balance is a Mac timekeeper app that requires you to manually clock in your hours", "TechCrunch · December 27, 2022", "https://techcrunch.com/2022/12/27/balance-is-a-mac-timekeeper-app-that-requires-you-to-manually-clock-in-your-hours/") }}
			<div class="spacer-s"></div>
			<p class="subhead foreground-secondary">
				“There are plenty of time-tracking apps for Mac that automatically log the hours you’ve spent signed in. Some even offer granular data, telling you how much time you spent on a particular app.
			</p>
			<p class="subhead foreground-secondary">
				A new app called Balance is taking a slightly different approach to timekeeping, allowing users to manually punch in and punch out the time they are spending in front of a screen.”
			</p>
		</article>

		<article class="separator-l">
			<blockquote class="twitter-tweet" data-dnt="true" data-theme="dark">
				<p lang="en" dir="ltr">Check out the launch of one of the most beautiful mac apps, made by <a href="https://twitter.com/alexandberg?ref_src=twsrc%5Etfw">@alexandberg</a>
					<a href="https://t.co/K2gAkeHMiW">https://t.co/K2gAkeHMiW</a>
				</p>&mdash; Henri Bredt (@henricreates) <a href="https://twitter.com/henricreates/status/1607751054451707907?ref_src=twsrc%5Etfw">December 27, 2022</a>
			</blockquote>
		</article>

		<article class="separator-l">
			{{ recognitionHeader("Practice Weekly Newsletter", "December 28, 2022", "https://practice.do/") }}
		</article>

		<article class="separator-l">
			{{ recognitionHeader("Start 2023 with Balance, a macOS app that wants to improve your work-life equilibrium", "BGR · December 27, 2022", "https://bgr.com/tech/start-2023-with-balance-a-macos-app-that-wants-to-improve-your-work-life-equilibrium/") }}
			<div class="spacer-s"></div>
			<p class="subhead foreground-secondary">
				“With a work-life balance at its core, the app has a system that lets you clock in when you start working, close the app to take a break, and let you know when you should stop working.
			</p>
			<p class="subhead foreground-secondary">
				A mindful time tracking feature shows your active session on the top of your Mac’s display with an easy-to-use menu bar.”
			</p>
		</article>

		<article class="separator-l">
			<blockquote class="twitter-tweet" data-dnt="true" data-theme="dark">
				<p lang="en" dir="ltr">Thinking about the serotonin hit from clicking &quot;Clock Out&quot; <a href="https://t.co/XW5GfIJVKC">pic.twitter.com/XW5GfIJVKC</a>
				</p>&mdash; Product Hunt 😸 (@ProductHunt) <a href="https://twitter.com/ProductHunt/status/1607760740290826241?ref_src=twsrc%5Etfw">December 27, 2022</a>
			</blockquote>
		</article>
	</div>

	<div>
		<article class="separator-l">
			{{ recognitionHeader("The Manual #31 by Oliur", "December 31, 2022", "https://oliur.substack.com/p/the-manual-31-end-of-year-learnings") }}
		</article>

		<article class="separator-l">
			{{ recognitionHeader("Creativerly 201 by Philipp Temmel", "January 1, 2023", "https://creativerly.com/bust-writers-block/") }}
			<div class="spacer-s"></div>
			<p class="subhead foreground-secondary">
				“In the past, I have used, tested, and played around with quite a lot of different time-tracking tools, but there is no doubt that Balance is the most beautiful piece of software within that category.
			</p>
			<p class="subhead foreground-secondary">
				There is always something special about opening up a new app you want to try out, and you immediately see all the craft and love for detail that went into designing its interface of it. Balance sets an incredibly high standard for beautifully designed software in general.”
			</p>
		</article>

		<article class="separator-l">
			<blockquote class="twitter-tweet" data-dnt="true" data-theme="dark">
				<p lang="en" dir="ltr">My good friend <a href="https://twitter.com/alexandberg?ref_src=twsrc%5Etfw">@alexandberg</a> is launching his new app today!<br><br>It’s a delightful app to manage your work-life balance. He put so much attention and care into it that I&#39;m a little jealous. 🥹❤️<br><br>Check it out <a href="https://t.co/HBfwq4w8MK">https://t.co/HBfwq4w8MK</a><br><br>Upvote it on Product Hunt <a href="https://t.co/PblX1XBXd4">https://t.co/PblX1XBXd4</a>
				</p>&mdash; Nicolas Bichon (@nicol3a) <a href="https://twitter.com/nicol3a/status/1607750804722667522?ref_src=twsrc%5Etfw">December 27, 2022</a>
			</blockquote>
		</article>

		<article class="separator-l">
			{{ recognitionHeader("Curations (curations.tech) — Productivity Mac Apps", "Since November 2022", "https://curations.tech/") }}
		</article>

		<article class="separator-l">
			{{ recognitionHeader("Designer Daily Report — Products", "Since December 28, 2022", "https://designerdailyreport.com") }}
		</article>

		<article class="separator-l">
			<blockquote class="twitter-tweet" data-lang="en" data-dnt="true" data-theme="dark">
				<p lang="en" dir="ltr">Check out <a href="https://twitter.com/alexandberg?ref_src=twsrc%5Etfw">@alexandberg</a> new MacOS app. It’s a very delightful product to manage your wellbeing while working remotely. ✨ <a href="https://t.co/ImUtXkFwkG">https://t.co/ImUtXkFwkG</a>
				</p>&mdash; Jake (@itsjakefie) <a href="https://twitter.com/itsjakefie/status/1608080526564261888?ref_src=twsrc%5Etfw">December 28, 2022</a>
			</blockquote>
		</article>

		<article class="separator-l">
			{{ recognitionHeader("Melhore seus hábitos de trabalho no Mac com o app Balance", "MacMagazine · December 27, 2022", "https://macmagazine.com.br/post/2022/12/27/melhore-seus-habitos-de-trabalho-no-mac-com-o-app-balance/") }}
		</article>

		<article class="separator-l">
			{{ recognitionHeader("Owwly — Featured Products", "Since December 29, 2022", "https://owwly.com/products/all") }}
		</article>
	</div>
</div>

<div class="spacer-xxl-desktop"></div>

<h2>Follow the development</h2>
<div class="spacer-s"></div>
<p>I'm regularly posting updates about my work on Balance. You can follow along <a href="https://twitter.com/{{ metadata.author.twitter }}">on Twitter</a> and/or <a href="{{ metadata.author.mastodonUrl }}">on Mastodon</a>.</p>

<div class="spacer-m"></div>

<div class="flex">
	<blockquote class="twitter-tweet" data-dnt="true" data-theme="dark">
		<p lang="en" dir="ltr">Playing around with transparency. 👀 Do we like? <a href="https://t.co/9xiS6XSpf6">pic.twitter.com/9xiS6XSpf6</a>
		</p>&mdash; Alexander Sandberg 🐨 (@alexandberg) <a href="https://twitter.com/alexandberg/status/1582423246561243136?ref_src=twsrc%5Etfw">October 18, 2022</a>
	</blockquote>

	<blockquote class="twitter-tweet" data-lang="en" data-dnt="true" data-theme="dark">
		<p lang="en" dir="ltr">🚀 <a href="https://twitter.com/tryBalanceApp?ref_src=twsrc%5Etfw">@tryBalanceApp</a> Focus mode is here in 0.20!<br><br>You can now use Balance as a Pomodoro/focus timer. 🍅 <a href="https://t.co/x1PEe6p25p">pic.twitter.com/x1PEe6p25p</a>
		</p>&mdash; Alexander Sandberg 🐨 (@alexandberg) <a href="https://twitter.com/alexandberg/status/1593266637477650434?ref_src=twsrc%5Etfw">November 17, 2022</a>
	</blockquote>
</div>

<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>