---
title: "Balance: Mindful work sessions"
appName: "Balance"
subtitle: "Available on Mac"
intro: "My latest app that I'm building in public. Join the beta!"
testFlightLink: "https://testflight.apple.com/join/o8ir5RsI"
wideImage: true
---

<h2>What is Balance?</h2>
<div class="spacer-s"></div>
<p>Balance is an app for those who struggle with long, unhealthy work session in front of the computer. Balance also helps you achieve and retain a healthy work-life balance.</p>
<p>The app is still in its early stages, but you can already <a href="{{ testFlightLink }}">join the public beta</a> and give it a try. If you do, I'm looking forward to your feedback! 🙂</p>

<div class="spacer-xl"></div>

<h2>Follow the development</h2>
<div class="spacer-s"></div>
<p>I'm building Balance in public. You can follow the development <a href="https://twitter.com/{{ metadata.author.twitter }}">on Twitter</a>.</p>

<div class="spacer-m"></div>

<div class="flex">
	<blockquote class="twitter-tweet" data-conversation="none" data-dnt="true" data-theme="dark">
		<p lang="en" dir="ltr">🎨 The UI got a nice update.<br><br>There&#39;s a new ☕️ Breaks section where you will find the total duration of all breaks during your session, as well as the time since your last break. <a href="https://t.co/0dboHhZ4D4">pic.twitter.com/0dboHhZ4D4</a>
		</p>&mdash; Alexander Sandberg 🐨 (@alexandberg) <a href="https://twitter.com/alexandberg/status/1564524969601781761?ref_src=twsrc%5Etfw">August 30, 2022</a>
	</blockquote>

	<blockquote class="twitter-tweet" data-conversation="none" data-dnt="true" data-theme="dark">
		<p lang="en" dir="ltr">If enabled, the notifications will now be triggered every hour of the time since your last break.<br><br>This &quot;time since your last break&quot; is reset every time you lock your screen to take a break. <a href="https://t.co/YAJ66rcn4K">pic.twitter.com/YAJ66rcn4K</a>
		</p>&mdash; Alexander Sandberg 🐨 (@alexandberg) <a href="https://twitter.com/alexandberg/status/1564524978065838082?ref_src=twsrc%5Etfw">August 30, 2022</a>
	</blockquote>
</div>

<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>