---
title: "Tiny Softbox — Simple light box and color panel"
appName: "Tiny Softbox"
subtitle: "Available on iPhone, iPad, and Mac"
intro: "A simple app with many use cases, from lighting up your face during video calls to helping you set the perfect light for your photography."
appId: "1599476381"
appStoreLink: "https://apps.apple.com/app/id1599476381"
---

<div class="flex wide">
	<div>
		<h2>App features</h2>
		<div class="spacer-s"></div>
		<ul class="arrowed">
			<li>Brightness slider</li>
			<li>Temperature slider in Kelvin</li>
			<li>Color filter with adjustable intensity</li>
			<li>Presets for saving your favorite settings</li>
			<li>Hide controls with a single tap or click</li>
			<li>Available on all your devices</li>
		</ul>
	</div>
	<div>
		<h2>Example use cases</h2>
		<div class="spacer-s"></div>
		<ul class="arrowed">
			<li>Softbox or accent light for photography</li>
			<li>Support light for video calls in dark environments</li>
			<li>Light box when tracing and drawing</li>
			<li>Reading light</li>
			<li>Mood light</li>
			<li>Flashlight</li>
			<li>Whenever else you might need some extra light</li>
		</ul>
	</div>
</div>

<div class="spacer-xxl-desktop"></div>

<h2>Screenshots</h2>

<div class="spacer-m"></div>

<div class="screenshot-grid">
	<div>
		{% image "./img/apps/tiny-softbox/mac-1.png",
			"Screenshot of Tiny Softbox app",
			[1280],
			"100vw" %}
		{% image "./img/apps/tiny-softbox/mac-2.png",
			"Screenshot of Tiny Softbox app",
			[1280],
			"100vw" %}
	</div>
	<div>
		{% image "./img/apps/tiny-softbox/mac-3.png",
			"Screenshot of Tiny Softbox app",
			[1280],
			"100vw" %}
		<div class="row-centered">
			{% image "./img/apps/tiny-softbox/iphone-1.png",
			"Screenshot of Tiny Softbox app",
			[600],
			"100vw" %}
			{% image "./img/apps/tiny-softbox/iphone-2.png",
			"Screenshot of Tiny Softbox app",
			[600],
			"100vw" %}
		</div>
	</div>
</div>