---
title: "Tiny Weather — Simple forecasts"
appName: "Tiny Weather"
subtitle: "Available on iPhone"
intro: "Tiny Weather is a simple weather app free of ads and subscriptions."
appId: "1522059185"
---

<div>
	<h2>App features</h2>
	<div class="spacer-s"></div>
	<ul class="arrowed">
		<li>Beautiful and simple</li>
		<li>Hourly forecasts for the next 24 hours</li>
		<li>Daily forecasts for the coming 8 days</li>
		<li>100% free without ads or subscriptions you would forget to cancel</li>
		<li>Support me through donations (50% goes to charity)</li>
	</ul>
	<p>
		Tiny Weather is sadly no longer available on Android.
	</p>
</div>