#intro {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#intro-aside {
	align-self: flex-end;
	max-width: 200px;
	max-height: 100px;
	z-index: -1;
}

#intro-main {
	max-width: 645px;
}

#about-aside {
	max-width: 200px;
	margin: 0 auto;
}
#about-aside picture {
	margin-top: 0;
}

.labeled-link {
	position: relative;
}
.labeled-link .number {
	margin-left: var(--space-s);
	float: right;
}

.lessons-grid {
	display: grid;
	grid-template-columns: minmax(0, 1fr);
	grid-template-rows: minmax(0, 1fr) minmax(0, 1fr);
	gap: var(--space-l) 0;
	grid-auto-flow: column;
	grid-template-areas: ". .";
}

.project,
.app-intro {
	align-items: center;
}

.app-intro-main img {
	width: 128px;
	height: 128px;
}

.project-aside,
.app-intro-aside {
	max-width: 250px;
}

.number-badge {
	display: block;
	min-width: 42px;
	text-align: center;
	background: var(--background-secondary);
	padding: 6px 12px;
	border-radius: 16px;
}

.header-anchor {
	position: relative;
}

.footer-image {
	flex-shrink: 0;
}

.footer-image img {
	width: 48px;
	height: 48px;
	border-radius: 50%;
}

.app .footer-image img {
	width: 36px;
	height: 36px;
}

.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	font-size: inherit;
	color: inherit;
	fill: currentColor;
	vertical-align: -0.125em;
}

.social-link {
	font-size: 32px;
}

.app {
	--border-radius: 16px;
}

.app-store-link {
	display: inline-block;
	background-color: var(--foreground);
	color: var(--background);
	padding: 12px 16px;
	border-radius: var(--border-radius);
}

.app footer > div:first-child {
	margin-right: auto;
}

.screenshot-grid {
	--grid-spacing: var(--space-s);

	display: grid;
	grid-template-columns: minmax(0, 1fr);
	grid-template-rows: auto auto;
	gap: var(--grid-spacing) 0;
	grid-auto-flow: column;
	grid-template-areas: ". .";
}

.screenshot-grid > div > *:not(:last-child) {
	display: block;
	margin-bottom: var(--grid-spacing);
}
.screenshot-grid .row-centered > *:not(:last-child) {
	margin-right: var(--grid-spacing);
}

.screenshot-grid img {
	border: 3px solid var(--background-secondary);
	border-radius: var(--border-radius);
}

@media (hover: hover) {
	.header-anchor:hover::before {
		content: "#";
		position: absolute;
		transform: translateX(-100%);
		left: calc(var(--space-xs) * -1);
		color: var(--background-tertiary);
	}
}

@media (prefers-color-scheme: light) {
	#intro h1 {
		filter: drop-shadow(20px 0px 50px var(--background));
	}

	.project-aside,
	.app-intro-aside {
		filter: drop-shadow(0px 20px 50px var(--background-secondary));
	}
}

@media screen and (min-width: 600px) {
	#intro-aside {
		align-self: flex-end;
		flex-basis: 280px;
		flex-shrink: 0;
		max-width: 280px;
		max-height: 200px;
		z-index: -1;
	}

	#about-aside {
		max-width: 280px;
	}

	.lessons-grid {
		grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
		grid-template-rows: minmax(0, 1fr);
		gap: 0 var(--space-xl);
		grid-auto-flow: row;
	}

	.project,
	.app-intro {
		justify-content: space-between;
	}

	.project-main,
	.app-intro-main {
		max-width: 500px;
	}

	.project-aside,
	.app-intro-aside {
		min-width: 200px;
		max-width: 300px;
	}

	.social-link {
		font-size: 40px;
	}

	.screenshot-grid {
		grid-template-columns: minmax(0, 1fr) 300px;
		grid-template-rows: minmax(0, 1fr);
		gap: 0 var(--grid-spacing);
		grid-auto-flow: row;
	}
}

@media screen and (min-width: 1000px) {
	#intro {
		flex-direction: row;
	}

	#intro-aside {
		align-self: flex-start;
		margin-right: var(--space-l);
		max-height: auto;
	}

	#about-aside {
		float: right;
		margin: 0 0 var(--space-m) var(--space-m);
	}
	#about-aside picture {
		margin: 0;
	}

	.labeled-link .number {
		position: absolute;
		transform: translateX(-100%);
		left: calc(var(--space-sides) * -1);
		margin-left: 0;
	}

	.screenshot-grid {
		grid-template-columns: minmax(0, 1fr) 488px;
	}
}
