:root {
	--font-main: system-ui, sans-serif;
	--font-mono: Menlo, monospace;

	--foreground: #ffffff;
	--foreground-secondary: #dddddd;
	--foreground-tertiary: #999999;
	--background: #000000;
	--background-highlighted: #222222;
	--background-secondary: #333333;
	--background-tertiary: #757575;

	--site-max-width: 1200px;
	--page-max-width: 900px;

	--border-radius: 8px;

	--value-space-xs: 8px;
	--value-space-s: 16px;
	--value-space-m: 32px;
	--value-space-l: 48px;
	--value-space-xl: 96px;
	--value-space-xxl: 192px;
	--value-space-sides: var(--value-space-s);

	--space-multiplier: 1;

	--space-xs: calc(var(--value-space-xs) * var(--space-multiplier));
	--space-s: calc(var(--value-space-s) * var(--space-multiplier));
	--space-m: calc(var(--value-space-m) * var(--space-multiplier));
	--space-l: calc(var(--value-space-l) * var(--space-multiplier));
	--space-xl: calc(var(--value-space-xl) * var(--space-multiplier));
	--space-xxl: calc(var(--value-space-xxl) * var(--space-multiplier));
	--space-sides: calc(var(--value-space-sides) * var(--space-multiplier));
}

@media (prefers-color-scheme: light) {
	:root {
		--foreground: #000000;
		--foreground-secondary: #222222;
		--foreground-tertiary: #666666;
		--background: #ffffff;
		--background-highlighted: #eeeeee;
		--background-secondary: #dddddd;
		--background-tertiary: #757575;
	}
}

html,
body,
h1,
h2,
h3,
h4,
p,
blockquote,
picture,
figure,
cite {
	margin: 0;
	padding: 0;
}

html {
	width: 100%;
	overflow-x: hidden;
}

body {
	background: var(--background);
	color: var(--foreground-secondary);
	margin: 0 auto;
	padding: var(--space-xl) var(--space-sides);
	box-sizing: border-box;
	word-break: break-word;
	max-width: var(--site-max-width);
}

*,
*:before,
*:after {
	box-sizing: inherit;
	word-break: inherit;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
nav ul:not(.row-centered) li:not(:last-child) {
	margin-bottom: var(--space-xs);
}

ul:not(.row-centered) li + li,
ol:not(.row-centered) li + li {
	margin-top: 0.25em;
}

img {
	height: auto;
	max-width: 100%;
	border-radius: var(--border-radius);
	vertical-align: bottom; /* Remove white-space below images */
}

p + p {
	margin-top: var(--space-s);
}

hr {
	height: 1px;
	margin: var(--space-m) 0;
	border: 0;
	background: var(--background-secondary);
}

[id] {
	scroll-margin-top: var(--space-xl);
}

.page {
	max-width: var(--page-max-width);
}

#timeline {
	padding: 0;
	border-spacing: var(--space-xs) var(--space-m);
	border: none;
	text-align: left;
}

#timeline th {
	min-width: var(--space-xl);
	font-weight: 700;
	vertical-align: top;
}

button {
	/* Reset */
	color: inherit;
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
	text-transform: none;
	padding: 6px 12px;
	margin: 0;
	-webkit-appearance: button;
	/* Styles */
	background-color: transparent;
	cursor: pointer;
	border: 1px solid var(--background-secondary);
	border-radius: var(--border-radius);
	font-size: 16px;
	transition: border-color 0.1s ease, background-color 0.1s ease;
}
button:active {
	background-color: var(--background-secondary);
}

@media (hover: hover) {
	button:hover:not(:active) {
		border-color: var(--background-tertiary);
	}
}

@media screen and (min-width: 600px) {
	:root {
		--space-multiplier: 1.5;
	}

	button {
		font-size: 20px;
	}
}
