.post * + * {
	margin-top: var(--space-m);
}

.post picture {
	display: inline-block;
	margin: var(--space-l) 0;
}

.post picture img {
	margin: 0;
}

.post .hug-below + *,
.post * + .hug-above {
	margin-top: 0;
}

.post * + h2,
.post * + h3,
.post * + h4 {
	margin-top: var(--space-xl);
}

.post p + p {
	margin-top: var(--space-s);
}

.post li + li {
	margin-top: var(--space-xs);
}

.post blockquote {
	padding: var(--space-xs) 0 var(--space-xs) var(--space-s);
	border-left: 4px solid var(--foreground);
	font-style: italic;
}

.post pre {
	padding: var(--space-s);
	border-radius: var(--border-radius);
	overflow-x: auto;
}

.post code {
	color: var(--foreground);
	background: var(--background-highlighted);
	padding: 3px 6px;
	border-radius: var(--border-radius);
	font-size: 0.9em;
}
