body {
	font-family: var(--font-main);
	font-size: 20px;
	font-weight: normal;
	line-height: 1.5;
}

h1,
h2,
h3,
h4 {
	color: var(--foreground);
}

p {
	color: var(--foreground-secondary);
}

a {
	color: inherit;
	font-weight: 700;
	text-decoration: none;
}

*:not(h1, h2, h3, h4) > a:not(.plain) {
	text-decoration: underline;
	text-decoration-color: var(--background-secondary);
	text-underline-offset: 3px;
	text-decoration-thickness: 1px;
	transition: color 0.1s ease, text-decoration-color 0.1s ease;
}
*:not(h1, h2, h3, h4) > a:not(.plain):hover {
	color: var(--foreground);
	text-decoration-color: var(--foreground);
}

p a {
	font-weight: 500;
}

::marker,
small {
	color: var(--foreground-tertiary);
}

p code {
	color: var(--foreground);
}

.mono {
	font-family: var(--font-mono);
}

h1,
.huge-title,
.large-title {
	font-size: 48px;
	font-weight: 800;
	line-height: 1.2;
}

h2,
.title1 {
	font-size: 36px;
	font-weight: 800;
	line-height: 1.3;
}

h3,
.title2 {
	font-size: 24px;
	font-weight: bold;
	line-height: 1.4;
}

h4,
.title3 {
	font-size: 20px;
	font-weight: bold;
	line-height: 1.5;
}

.large-body {
	font-size: 24px;
	font-weight: normal;
	line-height: 1.4;
}

p,
.body {
	font-size: 20px;
	font-weight: normal;
	line-height: 1.5;
}

.subhead {
	font-size: 16px;
	font-weight: normal;
	line-height: 1.5;
}

@media screen and (min-width: 600px) {
	body {
		font-family: var(--font-main);
		font-size: 24px;
		font-weight: normal;
		line-height: 1.4;
	}

	.huge-title {
		font-size: 96px;
		font-weight: 800;
		line-height: 1;
	}

	h1,
	.large-title {
		font-size: 64px;
		font-weight: 800;
		line-height: 1.1;
	}

	h2,
	.title1 {
		font-size: 48px;
		font-weight: 800;
		line-height: 1.2;
	}

	h3,
	.title2 {
		font-size: 36px;
		font-weight: bold;
		line-height: 1.3;
	}

	h4,
	.title3 {
		font-size: 24px;
		font-weight: bold;
		line-height: 1.4;
	}

	.large-body {
		font-size: 36px;
		font-weight: normal;
		line-height: 1.3;
	}

	p,
	.body {
		font-size: 24px;
		font-weight: normal;
		line-height: 1.4;
	}

	.subhead {
		font-size: 20px;
		font-weight: normal;
		line-height: 1.4;
	}
}
