---
layout: layouts/page.njk
pagination:
  data: articles
  size: 1
  alias: article
  addAllPagesToCollections: true
permalink: "{{ pages.articles.path }}/{{ article.slug }}/"
eleventyComputed:
  itemNumber: "{{ article.id | pad(3) }}"
  title: "{{ article.title }}"
  description: "{{ article.excerpt }}"
  publishedDate: "{{ article.createdAt }}"
  updatedDate: "{{ article.updatedAt }}"
---

{% markdownToHtmlString article.body %}