---
permalink: _temp/og.json
permalinkBypassOutputDir: true
eleventyExcludeFromCollections: true
---
[{% for page in collections.all %}
	{
		"url": "{{ page.url | slugify or "default" }}",
		"ogTemplate": "{{ page.data.ogTemplate }}",
		"suptitle": "Nº {{ (pages[page.fileSlug].number or "0") | pad(2) }}{{ page.data.itemNumber }}",
		"title": "{{ (page.data.title or metadata.title) | safe }}",
		"description": "{{ (page.data.description or metadata.description) | newlineAsSpace }}",
		"ogImage": "{{ page.data.ogImage }}"
	}{%- if loop.last == false %},{% endif -%}
{% endfor %}
]