---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
	{% for page in collections.all %}
		<url>
			<loc>{{ page.url | absoluteUrl(metadata.url) }}</loc>
			{%- set date = page.data.updatedDate or page.data.publishedDate -%}
			{%- if date %}
				<lastmod>{{ date }}</lastmod>
			{%- endif %}
		</url>
	{% endfor %}
</urlset>