---
layout: layouts/page.njk
permalink: "{{ pages.about.path }}"
isPost: true
hideDescription: true
---

{% from 'components/labeled-link.njk' import labeledLink with context %}

<div id="about-aside">
	{% image "./img/about.jpg",
	"Photo of Alexander Sandberg",
	[null],
	"100vw" %}
</div>

{{ labeledLink("now", "What I'm doing now →", "TL;DR") }}

<hr>

<p>I’m always looking for the simplest possible solution to problems and to life in general. Reducing complexity often has the highest return on investment. Some call me a ’minimalist’, but I don’t like labels.</p>
<p>I’m open-minded. I despise prejudices against people. I find opposing views to my own fascinating, not threatening.</p>
<p>I’m an extroverted introvert. While I love meeting new people and exploring new places, I recharge my energy at home.</p>
<p>I’m an avid student of life. If I’m not improving my skills or knowledge of the world on a regular basis I get bored. When I don’t understand I ask why, and set out to find an answer.</p>
<p>I’m a product-minded Mobile Engineer with an MSc in Product Design who loves to learn and create.</p>