---
layout: layouts/page.njk
permalink: "{{ pages.apps.path }}"
noHeaderContentSpacer: true
eleventyComputed:
  itemNumber: " - Projects"
---

<div class="spacer-xxl-desktop"></div>

{% from 'components/decorative-link.njk' import decorativeLink %}

{% for project in projects | whereType("app") %}
	<article class="project separator-xxl-desktop flex">
		<div class="project-main">
			<h3 class="title1">{{ project.title }}</h3>
			<span class="subhead foreground-tertiary">{{ project.subtitle }}</span>
			<div class="spacer-m"></div>
			<p>{{ project.description }}</p>
			<div class="spacer-m"></div>
			<a href="{{ project.link }}">{{ project.link | prettyLink }} →</a>
		</div>
		{% set image = project.image.fields %}
		{% if image %}
			<div class="project-aside">
				{% image image.file.url,
				image.title or "Preview of " + project.title + " project",
				[null],
				"100vw" %}
			</div>
		{% endif %}
	</article>
{% endfor %}