---
layout: layouts/page.njk
permalink: "{{ pages.articles.path }}"
---

{% from 'components/post-item.njk' import postItem with context %}

{% for article in articles | reverse %}
	{{ postItem("articles", article) }}
{% endfor %}