---
layout: layouts/page.njk
permalink: "{{ pages.articles.path }}"
description:
eleventyComputed:
  title: "{{ pages.articles.title }}"
---

{% from 'components/post-item.njk' import postItem with context %}

{% for article in articles %}
	{{ postItem("articles", article) }}
{% endfor %}