---
layout: layouts/page.njk
permalink: "{{ pages.blog.path }}"
description:
eleventyComputed:
  title: "{{ pages.blog.title }}"
---

{% from 'components/post-item.njk' import postItem with context %}

{% for post in posts %}
	{{ postItem("blog", post) }}
{% endfor %}