---
layout: layouts/page.njk
permalink: "{{ pages.blog.path }}"
---

{% from 'components/post-item.njk' import postItem with context %}

{% for post in posts | reverse %}
	{{ postItem("blog", post) }}
{% endfor %}