---
layout: layouts/page.njk
permalink: "{{ pages.lessons.path }}"
---

{% from 'components/lessons-list.njk' import lessonsList with context %}

{% for category in lessonCategories %}
	{% set categoryLessons = lessons | withCategorySlug(category.slug) %}

	{% if categoryLessons.length > 0 %}
		<article class="separator-xl">
			<div class="centered-row">
				<h2>
					<a href="/{{ pages.lessons.path }}{{ category.slug }}">
						{{ category.title }}
					</a>
				</h2>
				<div class="spacer-s"></div>
				<span class="subhead number-badge">{{ categoryLessons.length }}</span>
			</div>

			<div class="spacer-m"></div>

			<div class="lessons-grid">
				{{ lessonsList(categoryLessons | head(2)) }}
			</div>

			<div class="spacer-m"></div>

			<div>
				<a href="/{{ pages.lessons.path }}{{ category.slug }}">
					See all lessons →
				</a>
			</div>
		</article>
	{% endif %}
{% endfor %}