---
layout: layouts/page.njk
permalink: "{{ pages.lessons.path }}"
description: Notes that I've gathered over the years from books, podcasts, movies, etc. that I want to bring along with me on this journey that we call ‘life’.
eleventyComputed:
  title: "{{ pages.lessons.title }}"
---

{% from 'components/lessons-list.njk' import lessonsList with context %}

{% for category in lessonCategories %}
	{% set categoryLessons = lessons | withCategorySlug(category.slug) %}

	{% if categoryLessons.length > 0 %}
		<article>
			<h2>
				<a href="/{{ pages.lessons.path }}{{ category.slug }}">
					{{ category.title }} ({{ categoryLessons.length }})
				</a>
			</h2>

			{{ lessonsList(categoryLessons | head(2)) }}

			<div class="spacer-m"></div>
			<div>
				<a href="/{{ pages.lessons.path }}{{ category.slug }}">
					See all lessons →
				</a>
			</div>
		</article>
	{% endif %}
{% endfor %}
