---
layout: layouts/page.njk
permalink: "{{ pages.now.path }}"
isPost: true
hideDescription: true
eleventyComputed:
  itemNumber: "TL;DR"
  updatedDate: "{{ page.date | postDateFromString }}"
---

<p>This is the now page</p>

<hr>

<p>
	<small>This is a <a href="https://nownownow.com">/now page</a> inspired by <a href="https://sive.rs/now">Derek Sivers</a>.</small>
</p>