---
layout: layouts/page.njk
pagination:
  data: lessonCategories
  size: 1
  alias: category
  addAllPagesToCollections: true
permalink: "{{ pages.lessons.path }}{{ category.slug }}/"
eleventyComputed:
  itemNumber: "{{ category.number }}"
  title: "{{ category.title }}"
  description: "{{ category.description }}"
---

{% from 'components/lessons-list.njk' import lessonsList with context %}

{% set categoryLessons = lessons | withCategorySlug(category.slug) %}
{{ lessonsList(categoryLessons, "separator-xl") }}