---
layout: layouts/page.njk
pagination:
  data: lessonCategories
  size: 1
  alias: category
  addAllPagesToCollections: true
permalink: "{{ pages.lessons.path }}{{ category.slug }}/"
isPost: kinda
eleventyComputed:
  itemNumber: " - Life lessons"
  title: "{{ category.title | safe }}"
  description: "{{ category.description | safe }}"
  updatedDate: "{{ (lessons | withCategorySlug(category.slug)) | latestUpdatedAt }}"
---

{% from 'components/lessons-list.njk' import lessonsList with context %}

{% set categoryLessons = lessons | withCategorySlug(category.slug) | reverse %}
{{ lessonsList(categoryLessons, "lesson separator-xl") }}