---
layout: layouts/page.njk
pagination:
  data: lessonCategories
  size: 1
  alias: category
  addAllPagesToCollections: true
permalink: "{{ pages.lessons.path }}{{ category.slug }}/"
eleventyComputed:
  itemNumber: "{{ category.number }}"
  title: "{{ category.title }}"
---

<p>{{ category.description }}</p>

{% set categoryLessons = lessons | withCategorySlug(category.slug) %}

{% for lesson in categoryLessons %}
	<a href="/{{ pages.lessons.path }}{{ lesson.id }}/">
		<p>{{ lesson.body }}</p>
		<p>— {{ lesson.source }}</p>
	</a>
{% endfor %}