---
layout: layouts/lesson.njk
pagination:
  data: lessons
  size: 1
  alias: lesson
  addAllPagesToCollections: true
permalink: "{{ pages.lessons.path }}/{{ lesson.id }}/"
eleventyComputed:
  itemNumber: "{{ lesson.id | pad(3) }}"
  title: "{{ pages.lesson.title }} #{{ lesson.id | pad(3) }} from {{ lesson.source }}"
  description: "{{ lesson.body }}"
---

<p class="large-body">{{ lesson.body }}</p>
<p class="foreground-tertiary">— {{ lesson.source }}</p>