{{ define "main" }}
<section></section>
<section class="single">
  <article>
    <h1>{{ .Title }}</h1>
    <small>
      <ul class="nl">
        {{ range .Params.keywords }}
        <li class="keyword">{{ . }}</li>
        {{ end }}
      </ul>
    </small>
    {{ .Content }}
  </article>
</section>
<section class="break-line"></section>
<section class="more">
  {{ if .NextPage }}
  <div class="next">
    <span class="faded">Next</span>
    <h3><a href="{{ .NextPage.RelPermalink }}">{{ .NextPage.Title }}</a></h3>
  </div>
  {{ end }} {{ if .PrevPage }}
  <div class="previous">
    <span class="faded">Previous</span>
    <h3><a href="{{ .PrevPage.RelPermalink }}">{{ .PrevPage.Title }}</a></h3>
  </div>
  {{ end }}
</section>
<section>
  <nav class="stylish"><a href="/">Home</a></nav>
</section>

{{ end }}
