#intro {
	display: flex;
	flex-direction: column;
}

#intro-aside {
	align-self: flex-end;
	max-width: 200px;
	max-height: 100px;
	z-index: -1;
}

#intro-main {
	max-width: 645px;
}

.numbered-link {
	position: relative;
}
.numbered-link .number {
	position: absolute;
	right: 0;
}

.lessons-grid {
	display: grid;
	grid-template-columns: minmax(0, 1fr);
	grid-template-rows: minmax(0, 1fr) minmax(0, 1fr);
	gap: var(--space-l) 0;
	grid-auto-flow: column;
	grid-template-areas: ". .";
}

.lesson-details {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.lesson-details > span:not(:last-child) {
	margin-right: var(--space-s);
}

@media screen and (min-width: 600px) {
	#intro-aside {
		align-self: flex-end;
		flex-basis: 280px;
		flex-shrink: 0;
		max-width: 280px;
		max-height: 200px;
		z-index: -1;
	}

	.lessons-grid {
		grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
		grid-template-rows: minmax(0, 1fr);
		gap: 0 var(--space-xl);
		grid-auto-flow: row;
	}
}

@media screen and (min-width: 1000px) {
	#intro {
		flex-direction: row;
	}

	#intro-aside {
		align-self: flex-start;
		margin-right: var(--space-l);
		max-height: auto;
	}

	.numbered-link .number {
		transform: translateX(-100%);
		left: calc(var(--space-sides) * -1);
		right: auto;
	}
}
