#intro {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#intro-aside {
	align-self: flex-end;
	max-width: 200px;
	max-height: 100px;
	z-index: -1;
}

#intro-main {
	max-width: 645px;
}

.intro-link {
	position: relative;
}
.intro-link .number {
	position: absolute;
	right: 0;
}

.lessons-grid {
	display: grid;
	grid-template-columns: minmax(0, 1fr);
	grid-template-rows: minmax(0, 1fr) minmax(0, 1fr);
	gap: var(--space-l) 0;
	grid-auto-flow: column;
	grid-template-areas: ". .";
}

.flexed-details {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.flexed-details > span:not(:last-child) {
	margin-right: var(--space-s);
}

.project-aside img {
	background: var(--background-secondary);
	padding: var(--space-m) 0 0 var(--space-m);
}

.number-badge {
	display: block;
	min-width: 42px;
	text-align: center;
	background: var(--background-secondary);
	padding: 6px 12px;
	border-radius: 16px;
}

@media screen and (min-width: 600px) {
	#intro-aside {
		align-self: flex-end;
		flex-basis: 280px;
		flex-shrink: 0;
		max-width: 280px;
		max-height: 200px;
		z-index: -1;
	}

	.lessons-grid {
		grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
		grid-template-rows: minmax(0, 1fr);
		gap: 0 var(--space-xl);
		grid-auto-flow: row;
	}

	.project {
		align-items: center;
		justify-content: space-between;
	}

	.project-main {
		max-width: 500px;
	}

	.project-aside {
		min-width: 200px;
	}

	.project-aside img {
		height: calc(400px + var(--space-m));
		width: calc(500px + var(--space-m));
		object-fit: cover;
		object-position: top left;
	}
}

@media screen and (min-width: 1000px) {
	#intro {
		flex-direction: row;
	}

	#intro-aside {
		align-self: flex-start;
		margin-right: var(--space-l);
		max-height: auto;
	}

	.intro-link .number {
		transform: translateX(-100%);
		left: calc(var(--space-sides) * -1);
		right: auto;
	}
}
