/* Colors */
.foreground {
	color: var(--foreground);
}
.foreground-secondary {
	color: var(--foreground-secondary);
}
.foreground-tertiary {
	color: var(--foreground-tertiary);
}
.background {
	color: var(--background);
}
.background-secondary {
	color: var(--background-secondary);
}

/* Spacers */
.spacer-xs {
	height: var(--space-xs);
	width: var(--space-xs);
	flex-shrink: 0;
}
.spacer-s {
	height: var(--space-s);
	width: var(--space-s);
	flex-shrink: 0;
}
.spacer-m {
	height: var(--space-m);
	width: var(--space-m);
	flex-shrink: 0;
}
.spacer-l {
	height: var(--space-l);
	width: var(--space-l);
	flex-shrink: 0;
}
.spacer-xl {
	height: var(--space-xl);
	width: var(--space-xl);
	flex-shrink: 0;
}
