/* Colors */
.foreground {
	color: var(--foreground);
}

.foreground-secondary {
	color: var(--foreground-secondary);
}

.foreground-tertiary {
	color: var(--foreground-tertiary);
}

.background {
	color: var(--background);
}

.background-secondary {
	color: var(--background-secondary);
}

/* Spacers */
.spacer-xs {
	height: var(--space-xs);
	width: var(--space-xs);
	flex-shrink: 0;
}

.spacer-s {
	height: var(--space-s);
	width: var(--space-s);
	flex-shrink: 0;
}

.spacer-m {
	height: var(--space-m);
	width: var(--space-m);
	flex-shrink: 0;
}

.spacer-l {
	height: var(--space-l);
	width: var(--space-l);
	flex-shrink: 0;
}

.spacer-xl {
	height: var(--space-xl);
	width: var(--space-xl);
	flex-shrink: 0;
}

.spacer-xxl-desktop {
	height: var(--space-xl);
	width: var(--space-xl);
	flex-shrink: 0;
}

.spacer-xxl {
	height: var(--space-xxl);
	width: var(--space-xxl);
	flex-shrink: 0;
}

.separator-xs + .separator-xs {
	margin-top: var(--space-xs);
}

.separator-s + .separator-s {
	margin-top: var(--space-s);
}

.separator-m + .separator-m {
	margin-top: var(--space-m);
}

.separator-l + .separator-l {
	margin-top: var(--space-l);
}

.separator-xl + .separator-xl {
	margin-top: var(--space-xl);
}

.separator-xxl-desktop + .separator-xxl-desktop {
	margin-top: var(--space-xl);
}

.separator-xxl + .separator-xxl {
	margin-top: var(--space-xxl);
}

/* Other */
.flex {
	display: flex;
	flex-direction: column;
}
.flex > *:not(:last-child) {
	margin: 0 0 var(--space-l) 0;
}

.centered-row {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.dont-break-words {
	word-break: normal;
}

.truncate {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}

.round {
	border-radius: 100%;
}

@media screen and (min-width: 600px) {
	.flex {
		flex-direction: row;
	}
	.flex > *:not(:last-child) {
		margin: 0 var(--space-l) 0 0;
	}
}

@media screen and (min-width: 1000px) {
	.spacer-xxl-desktop {
		height: var(--space-xxl);
		width: var(--space-xxl);
		flex-shrink: 0;
	}

	.separator-xxl-desktop + .separator-xxl-desktop {
		margin-top: var(--space-xxl);
	}
}
