{{ define "main" }}

<section class="break">
    <article class="post">
        <header>
            <h1>{{ .Title }}</h1>
        </header>
        <main>
            {{ .Content }}
        </main>
    </article>
</section>
<section class="full-width-bg">
    <div>
    {{ range where .Site.AllRegularPages "Section" "posts" }}
        {{ range .Translations }}
            {{ if and (eq $.Lang .Lang) (not (eq $.File.TranslationBaseName .File.TranslationBaseName)) }}
                {{ if gt $.Date.Unix .Date.Unix }}
                    {{ $.Scratch.Set "post" . }}
                {{ end }}
            {{ end }}
        {{ end }}
    {{ end }}

    {{ if $.Scratch.Get "post" }}
        {{- partial "post-item" (dict "title" ($.Scratch.Get "post").Title "translations" ($.Scratch.Get "post").AllTranslations "fill" "#ffffff") -}}
    {{ end }}

    <nav><a href="{{ `` | relLangURL }}">{{ i18n "home" }}</a> / <a href="{{ `posts` | relLangURL }}/">{{ i18n "show-more" }}</a></nav>
    </div>
</section>

{{ end }}