<div id="banner" class="hidden">
	<p class="subhead">
		Hey! 👋 My latest app <a href="/apps/balance/">Balance is now available for pre-order</a>!
	</p>
	<button id="dismiss-banner" class="dismiss">Dismiss</button>
</div>

<script>
	const bannerKey = "banner-06.12.22"
	const banner = document.getElementById("banner");
	const closeBannerButton = document.getElementById("dismiss-banner");

	const isBannerDismissed = localStorage.getItem(bannerKey) == "dismissed";

	if (!isBannerDismissed) {
		banner
			.classList
			.remove("hidden");
	}

	closeBannerButton.addEventListener("click", () => {
		banner
			.parentNode
			.removeChild(banner)
		localStorage.setItem(bannerKey, "dismissed");
	})
</script>