{% set isHome = page.url === "/" %}

<footer>
	<div class="flex">
		<div>
			<a class="footer-image" href="/" title="Home" aria-label="Go home">
				{% image "./img/footer.jpg",
				"Photo of Alexander Sandberg",
				[null],
				"100vw" %}
			</a>
		</div>

		<div>
			<div class="flex">
				<nav aria-label="Site">
					<ul>
						<li>
							<a href="/{{ pages.about.path }}">
								About →
							</a>
						</li>
						<li>
							<a href="/{{ pages.articles.path }}">
								Articles →
							</a>
						</li>
						<li>
							<a href="/{{ pages.blog.path }}">
								Blog →
							</a>
						</li>
						<li>
							<a href="/{{ pages.lessons.path }}">
								Life lessons →
							</a>
						</li>
						<li>
							<a href="/{{ pages.projects.path }}">
								Projects {{ "↑" if isHome else "→" }}
							</a>
						</li>
					</ul>
				</nav>

				<nav aria-label="External">
					<ul>
						<li>
							<a href="mailto:{{ metadata.author.email }}">
								Email ↗
							</a>
						</li>
						<li>
							<a href="{{ metadata.source }}">
								Source code ↗
							</a>
						</li>
					</ul>
				</nav>
			</div>

			<div class="spacer-m"></div>

			<p class="subhead mono foreground-tertiary">
				© Alexander Sandberg 2023 · <a href="/feed.xml">RSS</a>
			</p>
		</div>
	</div>
</footer>