{% set isHome = page.fileSlug === "" %}

<footer>
	<div class="flex">
		<nav aria-label="Site">
			<ul>
				<li>
					<a href="/{{ pages.about.path }}">
						<b>About →</b>
					</a>
				</li>
				<li>
					<a href="/{{ pages.articles.path }}">
						<b>Articles →</b>
					</a>
				</li>
				<li>
					<a href="/{{ pages.blog.path }}">
						<b>Blog →</b>
					</a>
				</li>
				<li>
					<a href="/{{ pages.lessons.path }}">
						<b>Life lessons →</b>
					</a>
				</li>
				<li>
					<a href="/{{ pages.projects.path }}">
						<b>Projects {{ "↑" if isHome else "→" }}</b>
					</a>
				</li>
			</ul>
		</nav>

		<nav aria-label="External">
			<ul>
				<li>
					<a href="https://twitter.com/{{ metadata.author.twitter }}">
						<b>Twitter ↗</b>
					</a>
				</li>
				<li>
					<a href="https://github.com/{{ metadata.author.github }}">
						<b>GitHub ↗</b>
					</a>
				</li>
				<li>
					<a href="https://linkedin.com/in/{{ metadata.author.linkedin }}">
						<b>LinkedIn ↗</b>
					</a>
				</li>
				<li>
					<a href="mailto:{{ metadata.author.email }}">
						<b>Email ↗</b>
					</a>
				</li>
				<li>
					<a href="{{ metadata.source }}">
						<b>Source code ↗</b>
					</a>
				</li>
			</ul>
		</nav>
	</div>

	<div class="spacer-m"></div>

	<p class="subhead mono foreground-tertiary">© Alexander Sandberg 2022</p>
</footer>