<nav aria-label="Social and contact">
	<ul>
		<li>
			<a class="large-body" href="https://twitter.com/{{ metadata.author.twitter }}">Twitter {{ icon("twitter") }}</a>
		</li>
		<li>
			<a class="large-body" href="https://github.com/{{ metadata.author.github }}">GitHub {{ icon("github") }}</a>
		</li>
		<li>
			<a class="large-body" href="https://linkedin.com/in/{{ metadata.author.linkedin }}">LinkedIn {{ icon("linkedin") }}</a>
		</li>
		<li>
			<a class="large-body" href="mailto:{{ metadata.author.email }}">Email {{ icon("email") }}</a>
		</li>
	</ul>
</nav>