<nav aria-label="Social and contact">
	<ul>
		<li>
			<a href="https://twitter.com/{{ metadata.author.twitter }}">Twitter</a>
		</li>
		<li>
			<a href="https://github.com/{{ metadata.author.github }}">GitHub</a>
		</li>
		<li>
			<a href="https://linkedin.com/in/{{ metadata.author.linkedin }}">LinkedIn</a>
		</li>
		<li>
			<a href="mailto:{{ metadata.author.email }}">Email</a>
		</li>
	</ul>
</nav>