<nav class="column-centered" aria-label="Social and contact">
	<h2 class="title2">Online presence &amp; contact</h2>
	<div class="spacer-s"></div>
	<ul class="social-links row-centered hug-contents">
		<li>
			<a class="social-link" href="https://twitter.com/{{ metadata.author.twitter }}" title="Twitter: @{{ metadata.author.twitter }}">
				{{ icon("twitter") }}
			</a>
		</li>
		<li>
			<a class="social-link" href="{{ metadata.author.mastodonUrl }}" title="Mastodon: {{ metadata.author.mastodonHandle }}">
				{{ icon("mastodon") }}
			</a>
		</li>
		<li>
			<a class="social-link" href="https://github.com/{{ metadata.author.github }}" title="GitHub: @{{ metadata.author.github }}">
				{{ icon("github") }}
			</a>
		</li>
		<li>
			<a class="social-link" href="https://linkedin.com/in/{{ metadata.author.linkedin }}" title="LinkedIn: @{{ metadata.author.linkedin }}">
				{{ icon("linkedin") }}
			</a>
		</li>
		<li>
			<a class="social-link" href="mailto:{{ metadata.author.email }}" title="Email: {{ metadata.author.email }}">
				{{ icon("email") }}
			</a>
		</li>
	</ul>
</nav>