:root {
	--sans-serif: ui-sans-serif, system-ui, sans-serif, var(--emoji);
	--serif: ui-serif, Charter, "Bitstream Charter", "Sitka Text", Cambria, serif,
		var(--emoji);
	--monospace: ui-monospace, "Cascadia Code", "Source Code Pro", Menlo, Consolas,
		"DejaVu Sans Mono", monospace, var(--emoji);
	--rounded: ui-rounded, "Hiragino Maru Gothic ProN", Quicksand, Comfortaa, Manjari, "Arial Rounded MT", "Arial Rounded MT Bold", Calibri, source-sans-pro, sans-serif;
	--emoji: "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
		"Noto Color Emoji";

	--foreground: 0, 0, 0;
	--background: 255, 255, 255;
	--accent-p3: 0.254 0.268 0.94;

	--primary: rgba(var(--foreground), 100%);
	--secondary: rgba(var(--foreground), 60%);
	--tertiary: rgba(var(--foreground), 45%);
	--quaternary: rgba(var(--foreground), 15%);
	--quinary: rgba(var(--foreground), 4%);

	--transition: 0.1s ease;

	--space-xs: 0.375rem;
	--space-s: 1.25rem;
	--space-m: 1.75rem;
	--space-l: 2.5rem;
	--space-xl: 3.75rem;
	--space-xxl: 6rem;

	--weight-normal: 400;
	--weight-medium: 500;
	--weight-bold: 600;

	--large-title: var(--weight-medium) 2rem/1.25 var(--sans-serif);
	--title1: var(--weight-medium) 1.5rem/1.25 var(--sans-serif);
	--title2: var(--weight-medium) 1.25rem/1.35 var(--sans-serif);
	--title3: var(--weight-medium) 1.125rem/1.4 var(--sans-serif);
	--body: var(--weight-normal) 1rem/1.5 var(--sans-serif);
	--footnote: var(--weight-normal) 0.875rem/1.6 var(--sans-serif);
	--caption: var(--weight-normal) 0.75rem/1.7 var(--sans-serif);

	color-scheme: light dark;
	touch-action: manipulation;

	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground: 255, 255, 255;
		--background: 27, 27, 27;
		--accent-p3: 0.325 0.337 1;

		--secondary: rgba(var(--foreground), 75%);
		--tertiary: rgba(var(--foreground), 50%);
		--quaternary: rgba(var(--foreground), 15%);
		--quinary: rgba(var(--foreground), 3%);

		--weight-normal: 300;
		--weight-medium: 400;
		--weight-bold: 500;
	}
}

@media (prefers-reduced-motion: reduce) {
	:root {
		--transition: none;
	}
}

body {
	max-width: 540px;
	padding: 0 5vw;
	margin: calc(4vw + 6vh) auto;
	font: var(--body);
	color: var(--primary);
	background: rgb(var(--background));
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote {
	font-size: 1rem;
	margin: 0;
	overflow-wrap: break-word;
}

img {
	display: block;
	max-width: 100%;
}

em {
	font-family: var(--serif);
}

strong,
b {
	font-weight: var(--weight-bold);
}

code {
	padding: 0.15rem 0.35rem;
	background: var(--quinary);
	border-radius: 0.25rem;
	font: var(--footnote);
	font-family: var(--monospace);
	font-weight: var(--weight-normal);
}

pre code {
	display: block;
	padding: 0.75rem 1rem;
	border-radius: 0.5rem;
	border: 1px solid var(--quinary);
	overflow-x: auto;
}

blockquote p {
	color: var(--secondary);
	font-family: var(--serif);
	font-style: italic;
}

blockquote p::before {
	content: "“ ";
	position: absolute;
	margin-top: -0.5rem;
	margin-left: -1.25rem;
	font-family: var(--serif);
	font-size: 1.5rem;
	color: var(--quaternary);
}

hr {
	width: 100%;
	border: none;
	border-top: 1px dashed var(--quaternary);
}

a {
	color: inherit;
	text-decoration: none;
	transition: color var(--transition), text-decoration-color var(--transition);
}

a:not(.plain) {
	text-decoration: underline;
	-webkit-text-decoration-color: var(--quaternary);
	text-decoration-color: var(--quaternary);
	text-decoration-thickness: 1px;
	text-underline-offset: 2.5px;
}

a:hover {
	color: var(--primary);
	-webkit-text-decoration-color: var(--secondary);
	text-decoration-color: var(--secondary);
}

a.button {
	display: inline-block;
	padding: 0.75rem 2rem;
	background: var(--quinary);
	color: var(--secondary);
	font: var(--title3);
	font-weight: var(--weight-bold);
	border-radius: 3rem;
	transition: color var(--transition);
}

a.button:hover {
	color: var(--primary);
}

a + .link-external-icon::after {
	content: "↗";
	position: relative;
	margin-right: 0.2em;
	top: -0.2em;
	left: 0.2em;
	font-size: 0.9em;
	font-weight: var(--weight-normal);
	transition: color var(--transition);
}

.tertiary a + .link-external-icon::after,
a.tertiary + .link-external-icon::after {
	margin-right: 0.4em;
	top: 0;
	font-size: 1em;
	left: 0.4em;
}

h1 a + .link-external-icon::after,
h2 a + .link-external-icon::after,
h3 a + .link-external-icon::after,
h4 a + .link-external-icon::after,
h5 a + .link-external-icon::after,
h6 a + .link-external-icon::after {
	margin-right: 0.3em;
	left: 0.3em;
	font-size: 1em;
}

a:hover + .link-external-icon::after {
	color: var(--primary);
}

a.button + .link-external-icon {
	display: none;
}

[id] {
	scroll-margin-top: 2rem;
}

.large-title {
	font: var(--large-title);
}

.title1,
.prose h1 {
	font: var(--title1);
}

.title2,
.prose h2 {
	font: var(--title2);
}

.title3,
.prose h3 {
	font: var(--title3);
}

.body,
.prose h4 {
	font: var(--body);
}

.footnote,
.prose h5 {
	font: var(--footnote);
}

.caption,
.prose h6 {
	font: var(--caption);
}

.prose > * {
	margin-block-start: var(--space-s);
	margin-block-end: var(--space-s);
}

.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6 {
	margin-block-start: var(--space-xl);
	margin-block-end: calc(var(--space-s) - 0.25rem);
	font-family: var(--serif);
	font-weight: var(--weight-medium);
}

.prose h1 + p,
.prose h2 + p,
.prose h3 + p,
.prose h4 + p,
.prose h5 + p,
.prose h6 + p {
	margin-block-start: calc(var(--space-s) - 0.25rem);
}

.prose h1 + h2,
.prose h2 + h3,
.prose h3 + h4,
.prose h4 + h5,
.prose h5 + h6,
.prose h1:first-child,
.prose h2:first-child,
.prose h3:first-child,
.prose h4:first-child,
.prose h5:first-child,
.prose h6:first-child {
	margin-block-start: var(--space-m);
}

.prose img {
	border-radius: 0.5rem;
	border: 1px solid var(--quinary);
}

.prose hr,
.prose img,
.prose blockquote,
.prose pre,
.prose .callout {
	margin-block-start: var(--space-m);
	margin-block-end: var(--space-m);
}

.prose .callout + .callout {
	margin-top: calc(var(--space-m) * -1 + var(--space-xs))
}

.prose > ol:first-child {
	list-style-type: none;
	padding-left: 0;
	margin-block-end: var(--space-l);
	color: var(--secondary);
	font: var(--footnote);
}

.prose > ol:first-child::before {
	content: "Table of Contents";
	display: inline-block;
	margin-bottom: var(--space-xs);
	font: var(--footnote);
	font-family: var(--serif);
	font-weight: var(--weight-medium);
	color: var(--primary);
}

.prose li::marker {
	color: var(--tertiary);
}

.prose > ol:first-child li a {
	text-decoration: none;
}

.serif {
	font-family: var(--serif);
}

.monospace {
	font-family: var(--monospace);
}

.rounded {
	font-family: var(--rounded);
}

.uppercase {
	text-transform: uppercase;
}

.medium {
	font-weight: var(--weight-medium);
}

.bold {
	font-weight: var(--weight-bold);
}

.nowrap {
	white-space: nowrap;
}

.primary {
	color: var(--primary);
}

.secondary {
	color: var(--secondary);
}

.tertiary {
	color: var(--tertiary);
}

.quaternary {
	color: var(--quaternary);
}

.quinary {
	color: var(--quinary);
}

.flex {
	display: flex;
}

.vertical {
	flex-direction: column;
}

.between {
	justify-content: space-between;
}

.center {
	text-align: center;
	margin: 0 auto;
	align-items: center;
	justify-content: center;
}

.gap-xs {
	gap: var(--space-xs);
}

.gap-s {
	gap: var(--space-s);
}

.gap-m {
	gap: var(--space-m);
}

.gap-l {
	gap: var(--space-l);
}

.gap-xl {
	gap: var(--space-xl);
}

.gap-xxl {
	gap: calc(var(--space-xxl) * 0.75);
}

.v-gap-xs > *:not(:first-child) {
	margin-block-start: var(--space-xs);
}

.v-gap-xs > *:not(:last-child) {
	margin-block-end: var(--space-xs);
}

.v-gap-s > *:not(:first-child) {
	margin-block-start: var(--space-s);
}

.v-gap-s > *:not(:last-child) {
	margin-block-end: var(--space-s);
}

.v-gap-m > *:not(:first-child) {
	margin-block-start: var(--space-m);
}

.v-gap-m > *:not(:last-child) {
	margin-block-end: var(--space-m);
}

.v-gap-l > *:not(:first-child) {
	margin-block-start: var(--space-l);
}

.v-gap-l > *:not(:last-child) {
	margin-block-end: var(--space-l);
}

.v-gap-xl > *:not(:first-child) {
	margin-block-start: var(--space-xl);
}

.v-gap-xl > *:not(:last-child) {
	margin-block-end: var(--space-xl);
}

.v-gap-xxl > *:not(:first-child) {
	margin-block-start: calc(var(--space-xxl) * 0.75);
}

.v-gap-xxl > *:not(:last-child) {
	margin-block-end: calc(var(--space-xxl) * 0.75);
}

.grid-2 {
	display: grid;
	gap: var(--space-m);
	grid-template-columns: 1fr;
}

.grid-3 {
	display: grid;
	gap: var(--space-m);
	grid-template-columns: 1fr;
}

.wide-only {
	display: none;
}

.sr-only:not(:focus):not(:active) {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

.callout {
	padding: 0.75rem 1rem;
	background: var(--quinary);
	font: var(--footnote);
	border-radius: 0.5rem;
	border: 1px solid var(--quinary);
}

.highlighted-text {
	padding: 0.1rem 0.5rem;
	font-family: var(--rounded);
	font-weight: var(--weight-bold);
	color: color(display-p3 var(--accent-p3));
	background: color(display-p3 var(--accent-p3) / 0.1);
	border-radius: 0.5rem;
}

.life-lesson-content > *:last-child {
	margin-block-end: calc(var(--space-s) - 0.25rem);
}

.recognition-card-content p {
	font: var(--footnote);
	color: var(--secondary);
	margin-top: var(--space-xs);
}

@media screen and (min-width: 540px) {
	.wide-only {
		display: revert;
	}

	.gap-xxl {
		gap: var(--space-xxl);
	}

	.v-gap-xxl > *:not(:first-child) {
		margin-block-start: var(--space-xxl);
	}

	.v-gap-xxl > *:not(:last-child) {
		margin-block-end: var(--space-xxl);
	}

	.grid-2 {
		gap: var(--space-l);
		grid-template-columns: 1fr 1fr;
	}

	.grid-3 {
		gap: var(--space-l);
		grid-template-columns: 1fr 1fr 1fr;
	}

	.balance-img-grid {
		gap: var(--space-s);
	}

	.balance-img-grid > div {
		gap: var(--space-s);
		grid-template-columns: 1fr 1fr;
	}
}

.balance-img-grid {
	display: flex;
	flex-direction: column;
	gap: var(--space-xs);
}

.balance-img-grid > div {
	display: grid;
	gap: var(--space-xs);
	grid-template-columns: 1fr;
}

.balance-img-grid img {
	box-sizing: border-box;
	border-radius: 0.5rem;
	border: 1px solid var(--quinary);
}

.balance-columns {
	column-count: 1;
	column-gap: var(--space-xs);
}

.balance-columns > * {
	break-inside: avoid-column;
	margin: var(--space-xs) 0;
}

@media screen and (min-width: 460px) {
	.balance-img-grid {
		gap: var(--space-xs);
	}

	.balance-img-grid > div {
		gap: var(--space-xs);
		grid-template-columns: 1fr 1fr;
	}

	.balance-columns {
		column-count: 2;
	}
}

.more-label {
	display: block;
	column-span: all;
	font: var(--footnote);
	color: var(--tertiary);
	cursor: pointer;
	transition: color var(--transition);
	margin-top: var(--space-l);
}

.more-checkbox {
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
}

.more-checkbox:focus ~ .more-label {
	outline-style: auto;
	color: var(--primary);
}

.more-label:hover {
	color: var(--primary);
}

.more-checkbox ~ *:not(.more-label) {
	display: none;
}

.more-checkbox:checked ~ *:not(.more-label) {
	display: revert;
}

.more-checkbox:checked ~ .more-label {
	display: none;
}

.icon {
	background: var(--primary);
	-webkit-mask: var(--icon) no-repeat center;
	mask: var(--icon) no-repeat center;
	-webkit-mask-size: contain;
	mask-size: contain;
}

.icon-privacy {
	--icon: url("privacy.svg")
}

.icon-devices {
	--icon: url("devices.svg")
}

.icon-swift {
	--icon: url("swift.svg")
}
