{% macro labeledLink(type, text, label = "") %}
	<div class="labeled-link">
		<span class="number mono background-tertiary" aria-hidden="true">
			{% if label %}
				{{ label }}
			{% else %}
				Nº {{ pages[type].number | pad(2) }}
			{% endif %}
		</span>
		<a href="/{{ pages[type].path }}">
			{{ text }}
		</a>
	</div>
{% endmacro %}