{% from 'components/decorative-link.njk' import decorativeLink %}

{% macro lessonsList(lessons, articleClass = "") %}
	{% for lesson in lessons %}
		<article {% if articleClass %}class="{{ articleClass }}"{% endif %}>
			{% set link = "/" + pages.lessons.path + lesson.id + "/" %}
			<a class="plain" href="{{ link }}">
				<p class="truncate-to-4-lines">{{ lesson.body }}</p>
			</a>
			<div class="spacer-s"></div>
			<div class="row-centered">
				<span class="foreground-tertiary dont-break-words truncate">— {{ lesson.source }}</span>
				<div class="spacer-s"></div>
				{{ decorativeLink(link, "#" + lesson.id | pad(3)) }}
			</div>
		</article>
	{% endfor %}
{% endmacro %}