{% macro lessonsList(lessons, articleClass = "") %}
	{% for lesson in lessons %}
		<article {% if articleClass %}class="{{ articleClass }}"{% endif %}>
			{% set link = "/" + pages.lessons.path + lesson.id + "/" %}
			<a href="{{ link }}">
				<p class="truncate-to-4-lines">{{ lesson.body }}</p>
			</a>
			<div class="spacer-s"></div>
			<div class="row-centered">
				<span class="foreground-tertiary dont-break-words truncate">— {{ lesson.source }}</span>
				<div class="spacer-s"></div>
				<a href="{{ link }}" aria-hidden="true" tabindex="-1">
					<span class="body mono background-tertiary dont-break-words">#{{ lesson.id | pad(3) }}</span>
				</a>
			</div>
		</article>
	{% endfor %}
{% endmacro %}