{% macro postItem(type, item) %}
	<article class="separator-xl">
		{% set link = "/" + pages[type].path + item.slug + "/" %}
		<h2>
			<a href="{{ link }}">{{ item.title }}</a>
		</h2>
		<span class="subhead foreground-tertiary">{{ item.createdAt }}</span>
		{% if item.excerpt %}
			<div class="spacer-m"></div>
			<p>{{ item.excerpt }}</p>
		{% endif %}
		<div class="spacer-l"></div>
		<div class="row-centered">
			<a class="dont-break-words truncate" href="{{ link }}">Read {{ "article" if type == "articles" else "post"}} →</a>
			<div class="spacer-s"></div>
			<span class="mono background-secondary dont-break-words">#{{ item.id | pad(3) }}</span>
		</div>
	</article>
{% endmacro %}