{% macro recognitionHeader(title, subhead, link) %}
	<p class="subhead foreground-tertiary">
		{{ subhead }}
	</p>
	<div class="spacer-xs"></div>
	<h2 class="title2">
		<a href="{{ link }}">{{ title }}</a>
	</h2>
{% endmacro %}