<span class="article-details">
  {{ range first 1 (.GetTerms "categories") }}
    #<a href="{{ .Permalink }}">{{ .LinkTitle }}</a> / 
  {{ end }}

  {{ with .Params.subtitle }}
    {{ . }}
  {{ else }}
    {{ range first 1 (.GetTerms "categories") }}
      {{ if eq .LinkTitle "books" }}
        {{ with $.Params.bookType }}
          {{ . }} · 
        {{ end }}
        {{ with $.Params.bookRating }}
          <i class="rating-icon fa fa-star"></i>{{ . }}
        {{ end }}
      {{ else }}
        {{ $.ReadingTime }} min read
      {{ end }}
    {{ end }}
  {{ end }}
</span>