<article class="article">
  {{ with .context.Params.bookCover }}
    {{ $image := resources.Get . }}
    {{ if $image }}
      {{ $resizedImage := $image.Resize "x480 q100" }}
      <img class="book-cover" src="{{ $resizedImage.RelPermalink }}" alt="Book cover of '{{ $.context.Params.Title }}'">
    {{ end }}
  {{ end }}
  
  {{ if .isHome }}
    <h3 class="h1"><a href="{{ .context.RelPermalink }}">{{ .context.Title }}</a></h3>
  {{ else }}
    <h1>{{ .context.Title }}</h1>
  {{ end }}

  {{ partial "article-details.html" .context }}

  {{ if .isHome }}
    {{ if and .context.Params.bookSummary .isHome }}
      <p>{{ .context.Params.bookSummary }}</p>
      <a class="read" href="{{ .context.RelPermalink }}">Read the notes</a>
    {{ else if and .context.Params.summarize .isHome }}
      {{ .context.Summary }}
      <a class="read" href="{{ .context.RelPermalink }}">Read the article</a>
    {{ end }}
  {{ else }}
    {{ with .context.Params.bookSummary }}
      <p>{{ . }}</p>
      {{ with $.context.Params.bookAuthor }}
        <p class="subtitle">By {{ . }}</p>
      {{ end }}
      <h2 class="hr in-book-notes">Notes</h2>
    {{ end }}
    {{ .context.Content }}
  {{ end }}
</article>