<article class="article in-list">
  {{ if and .context.Params.bookCover (not .isHome) }}
    {{ $image := resources.Get .context.Params.bookCover }}
    {{ if $image }}
      {{ $resizedImage := $image.Resize "x480 q100" }}
      <img class="book-cover" src="{{ $resizedImage.RelPermalink }}" alt="Book cover of '{{ .context.Title }}'">
    {{ end }}
  {{ end }}
  <h3 class="h2"><a href="{{ .context.RelPermalink }}">{{ .context.Title }}</a></h3>
  
  {{ partial "article-details.html" .context }}

  {{ if and .context.Params.bookSummary (not .isHome) }}
    <p>{{ .context.Params.bookSummary }}</p>
  {{ end }}
</article>