{{ define "main" }}

<section class="intro">
    <picture>
        <source media="(max-width: 580px)" srcset="/img/me-landscape.jpg">
        <source srcset="/img/me-portrait.jpg">
        <img src="/img/me-portrait.jpg" alt="Photo of Alexander Sandberg">
    </picture>
    <div>
        <h1>Alexander Sandberg</h1>
        <p>I'm a fourth-year industrial design engineering student at Luleå University of Technology in northern Sweden.</p>
        <p>Here I <i>occasionally</i> publish random<span class="faded">*</span> stuff I find worth sharing with the world.<br><small class="faded">*You've been warned</small></p>
        <p>
            <a class="sm" href="https://www.instagram.com/sandbergalexander/" target="_blank" title="Instagram"><i class="fab fa-instagram"></i></a>
			<a class="sm" href="https://medium.com/@alexandersandberg" target="_blank" title="Medium"><i class="fab fa-medium-m"></i></a>
            <a class="sm" href="https://www.linkedin.com/in/sandbergalex/" target="_blank" title="LinkedIn"><i class="fab fa-linkedin-in"></i></a>
        </p>
    </div>
</section>
<section class="latest">
    <h2 class="stylish">Latest</h2>
    {{ range first 1 .Data.Pages.ByLastmod.Reverse }}
        <article>
            <h1><a href="{{ .RelPermalink }}">{{ .Title }}</a></h1>
            <small>
                <ul class="nl">
                    {{ range .Params.keywords }}
                        <li class="keyword">{{ . }}</li>
                    {{ end }}
                </ul>
            </small>
            {{ .Content }}
        </article>
    {{ end }}
</section>
<section class="break-line"></section>
<section class="subscribe">
    <p>Want me to send you an email whenever I post something new?</p>
    <div id="mc_embed_signup" class="clearfix">
        <form action="https://AlexanderSandberg.us10.list-manage.com/subscribe/post-json?u=98899a7ea9f830a9205fc5dc4&amp;id=53ba821610&c=?" method="get" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
            <div id="mc_embed_signup_scroll">
                <div class="mc-field-group subscription-field">
                	<input type="email" placeholder="your@email.com" name="EMAIL" class="required email" id="mce-EMAIL" required>
                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_98899a7ea9f830a9205fc5dc4_53ba821610" tabindex="-1" value=""></div>
                    <label class="send" title="Subscribe">
                        <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button" />
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <g fill="none" fill-rule="evenodd" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" transform="translate(1 3)">
                                <path d="M20,0 L9,11"/>
                                <polygon points="20 0 13 20 9 11 0 7"/>
                            </g>
                        </svg>
                    </label>
                </div>
            	<div id="mce-responses" class="clear">
            		<div class="response" id="mce-error-response" style="display:none"></div>
            		<div class="response" id="mce-success-response" style="display:none"></div>
            	</div>
            </div>
        </form>
    </div>
</section>
<section>
    <h2 class="stylish">More posts</h2>
    {{ range after 1 .Data.Pages.ByLastmod.Reverse }}
        <article>
            <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
            <small>
                <ul class="nl">
                    {{ range .Params.keywords }}
                        <li class="keyword">{{ . }}</li>
                    {{ end }}
                </ul>
            </small>
        </article>
    {{ end }}
</section>
<section class="break-line"></section>

{{ end }}
