{{ define "main" }}

<section class="intro">
    <picture>
        <source media="(max-width: 580px)" srcset="/img/me-landscape.jpg">
        <source srcset="/img/me-portrait.jpg">
        <img src="/img/me-portrait.jpg" alt="Photo of Alexander Sandberg">
    </picture>
    <div>
        <h1>Alexander Sandberg</h1>
        <p>I'm a 24-year-old industrial design engineering student at Luleå University of Technology, in northern Sweden.</p>
        <p>Here I <i>occasionally</i> publish random<span class="faded">*</span> stuff I find worth sharing with the world.<br><small class="faded">*You've been warned</small></p>
    </div>
</section>
<section class="latest">
    <h2 class="stylish">Journal</h2>
    {{ range first 1 .Data.Pages }}
        <article>
            <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
            <small>{{ .Date.Format "January 2, 2006" }}</small>
            {{ .Content }}
        </article>
    {{ end }}
</section>
<section class="break-line"></section>
<section>
    {{ range after 1 .Data.Pages }}
        <article>
            <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
            <small>{{ .Date.Format "January 2, 2006" }}</small>
        </article>
    {{ end }}
</section>
<section class="break-line"></section>

{{ end }}
