---
layout: layouts/page.njk
pagination:
  data: posts
  size: 1
  alias: post
  addAllPagesToCollections: true
permalink: "{{ pages.blog.path }}/{{ post.slug }}/"
eleventyComputed:
  itemNumber: "{{ post.id | pad(3) }}"
  title: "{{ post.title }}"
  description: "{{ post.excerpt }}"
  publishedDate: "{{ post.createdAt }}"
  updatedDate: "{{ post.updatedAt }}"
---

{% markdownToHtmlString post.body %}