---
layout: layouts/page.njk
pagination:
  data: posts
  size: 1
  alias: post
  addAllPagesToCollections: true
permalink: "{{ pages.blog.path }}/{{ post.slug }}/"
isPost: true
ogTemplate: post
eleventyComputed:
  itemNumber: " - Post #{{ post.id | pad(3) }}"
  title: "{{ post.title | safe }}"
  description: "{{ post.excerpt | safe }}"
  publishedDate: "{{ post.createdAt }}"
  updatedDate: "{{ post.updatedAt }}"
---

{% markdownToHtmlString post.body %}

{% include "partials/post-footer.njk" %}