---
layout: layouts/page.njk
isPost: true
---

{% from 'components/labeled-link.njk' import labeledLink with context %}

<div id="about-aside" class="hug-below">
	{% image "./img/about.jpg",
	"Photo of Alexander Sandberg",
	[null],
	"100vw" %}
</div>

{{ labeledLink("now", "What I'm doing now →", "TL;DR") }}

<hr>

{{ content | safe }}