<!doctype html>
<html lang="en">
	<head>
		{# TODO: img + img_alt #}
		{% set title = title + " · " + metadata.title if title else 
			metadata.title %}
		{% metagen
		title = title,
		desc = description or metadata.description,
		url = page.url | url | absoluteUrl(metadata.url),
		img = "",
		img_alt = "",
		twitter_card_type = "summary_large_image",
		twitter_handle = metadata.author.twitter,
		name = metadata.author.name,
		generator = "eleventy",
		comments = false
 %}

		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#000000">
		<meta name="msapplication-TileColor" content="#000000">

		<meta name="theme-color" content="#ffffff" media="(prefers-color-scheme: light)">
		<meta name="theme-color" content="#000000" media="(prefers-color-scheme: dark)">

		<link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">

		<link rel="stylesheet" href="{{ '/css/main.css' | url }}">
		<link rel="stylesheet" href="{{ '/css/typography.css' | url }}">
		<link rel="stylesheet" href="{{ '/css/post.css' | url }}">
		<link rel="stylesheet" href="{{ '/css/utils.css' | url }}">
		<link rel="stylesheet" href="{{ '/css/components.css' | url }}">
		<link rel="stylesheet" href="{{ '/css/dracula.css' | url }}">

		<script defer data-domain="alexandersandberg.com" src="https://plausible.io/js/plausible.js"></script>
	</head>
	<body{% if bodyClass %} class="{{ bodyClass }}"{% endif %}>
		{{ content | safe }}

		<div class="spacer-xxl"></div>

		{% include "partials/footer.njk" %}
	</body>
</html>