<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title or metadata.title }}</title>
		<meta name="description" content="{{ description or metadata.description }}">
		<link rel="stylesheet" href="{{ '/css/main.css' | url }}">
		<link rel="stylesheet" href="{{ '/css/typography.css' | url }}">
		<link rel="stylesheet" href="{{ '/css/utils.css' | url }}">
		<link rel="stylesheet" href="{{ '/css/components.css' | url }}">
		<link rel="stylesheet" href="{{ '/css/dracula.css' | url }}">

		<script defer data-domain="alexandersandberg.com" src="https://plausible.io/js/plausible.js"></script>
	</head>
	<body{% if bodyClass %} class="{{ bodyClass }}"{% endif %}>
		{{ content | safe }}

		<div class="spacer-xxl"></div>

		{% include "partials/footer.njk" %}
	</body>
</html>