---
date: Last Modified
eleventyComputed:
  meta:
    title: "{{ metadata.title if page.url === '/' else ((title + ' · ' if title else '') + metadata.author.name) }}"
    description: "{{ metadata.description if page.url === '/' else description }}"
    url: "{{ page.url | absoluteUrl(metadata.url) }}"
    image: "{{ ('/og/' + (page.url | slugify or 'default') + '.jpeg') | absoluteUrl(metadata.url) }}"
    type: "{{ 'article' if isPost else 'website' }}"
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link rel="canonical" href="{{ meta.url }}">
		<title>{{ meta.title | safe }}</title>

		<meta name="generator" content="Eleventy">

		<meta name="author" content="{{ metadata.author.name }}">
		<meta name="title" content="{{ meta.title | safe }}">
		{% if meta.description %}
			<meta name="description" content="{{ meta.description | safe }}">
		{% endif %}

		<meta property="og:type" content="{{ meta.type }}">
		<meta property="og:url" content="{{ meta.url }}">
		<meta property="og:locale" content="en_US">
		<meta property="og:title" content="{{ meta.title | safe }}">
		{% if meta.description %}
			<meta property="og:description" content="{{ meta.description | safe }}">
		{% endif %}
		<meta property="og:image" content="{{ meta.image }}">
		<meta property="og:site_name" content="{{ metadata.title }}">

		<meta name="twitter:card" content="summary_large_image">
		<meta name="twitter:site" content="@{{ metadata.author.twitter }}">
		<meta name="twitter:creator" content="@{{ metadata.author.twitter }}">
		<meta name="twitter:url" content="{{ meta.url }}">
		<meta name="twitter:title" content="{{ meta.title | safe }}">
		{% if meta.description %}
			<meta name="twitter:description" content="{{ meta.description | safe }}">
		{% endif %}
		<meta name="twitter:image" content="{{ meta.image }}">

		<link rel="me" href="{{ metadata.author.mastodonUrl }}">

		{% if meta.type == "article" %}
			{% set hasCustomDates = publishedDate %}
			{% if hasCustomDates %}
				<meta property="og:article:published_time" content="{{ publishedDate }}">
				{% if updatedDate %}
					<meta property="og:article:modified_time" content="{{ updatedDate }}">
				{% endif %}
			{% else %}
				<meta property="og:article:modified_time" content="{{ page.date | dateToRfc3339 }}">
			{% endif %}
		{% endif %}

		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#000000">
		<meta name="msapplication-TileColor" content="#000000">

		<meta name="theme-color" content="#ffffff" media="(prefers-color-scheme: light)">
		<meta name="theme-color" content="#000000" media="(prefers-color-scheme: dark)">

		<link rel="alternate" href="{{ metadata.feed.path }}" type="application/atom+xml" title="{{ metadata.title }}">

		<link rel="stylesheet" href="{{ '/css/main.css' }}">
		<link rel="stylesheet" href="{{ '/css/typography.css' }}">
		<link rel="stylesheet" href="{{ '/css/post.css' }}">
		<link rel="stylesheet" href="{{ '/css/forms.css' }}">
		<link rel="stylesheet" href="{{ '/css/utils.css' }}">
		<link rel="stylesheet" href="{{ '/css/components.css' }}">
		<link rel="stylesheet" href="{{ '/css/banner.css' }}">
		<link rel="stylesheet" href="{{ '/css/dracula.css' }}">

		<script defer data-domain="alexandersandberg.com" src="https://plausible.io/js/plausible.js"></script>
		<script async defer data-domain="alexandersandberg.com" src="https://plausible.io/js/plausible.outbound-links.js"></script>
	</head>
	<body{% if bodyClass %} class="{{ bodyClass }}"{% endif %}>
		{% include "partials/banner.njk" %}

		{{ content | safe }}

		<div class="spacer-xxl"></div>

		{% include "partials/footer.njk" %}
	</body>
</html>