---
layout: layouts/base.njk
---

<header>
	<div>
		<a href="/{{ pages.lessons.path }}{{ lesson.category.slug }}">
			<b>← {{ lesson.category.title }}</b>
		</a>
	</div>

	<div class="spacer-l"></div>

	{% set pageNumber = pages[page.fileSlug].number %}
	{% if pageNumber | isNumber %}
		<p class="large-body mono background-secondary">Nº {{ pageNumber | pad(2) }}{{ "." + itemNumber if itemNumber else "" }}</p>
		<div class="spacer-xs"></div>
	{% endif %}
</header>

<main>
	{{ content | safe }}
</main>

<div class="spacer-xl"></div>

{% include "partials/footer.njk" %}