---
layout: layouts/base.njk
bodyClass: page
eleventyComputed:
  title: "{{ title or pages[page.fileSlug].title }}"
  description: "{{ description or pages[page.fileSlug].description }}"
---

<header>
	{% set backPage = pages[pages[page.fileSlug].back] %}
	{% if backPage %}
		<div>
			<a href="/{{ backPage.path }}">
				← {{ backPage.title }}
			</a>
		</div>
	{% endif %}

	<div class="spacer-l"></div>

	{% set pageNumber = pages[page.fileSlug].number %}
	{% if pageNumber | isNumber %}
		<p class="large-body mono background-tertiary" aria-hidden="true">Nº {{ pageNumber | pad(2) }}{{ "." + itemNumber if itemNumber else "" }}</p>
		<div class="spacer-xs"></div>
	{% endif %}

	{% if title %}
		{% set isItem = itemNumber %}
		<h1 class="{% if isItem %}large-title{% else %}huge-title{% endif %}">{{ title }}</h1>
	{% endif %}

	{% if description and not hideDescription %}
		<div class="spacer-l"></div>
		<p>{{ description }}</p>
	{% endif %}

	{% set date = updatedDate or publishedDate %}
	{% if date %}
		<div class="spacer-l"></div>
		<time class="subhead foreground-tertiary">{{ "Updated" if updatedDate else "Published" }} in {{ date }}</time>
	{% endif %}
</header>

<div class="spacer-xl"></div>

<main{% if isPost %} class="post"{% endif %}>
	{{ content | safe }}
</main>