---
layout: layouts/base.njk
---

<header>
	{% set backPage = pages[pages[page.fileSlug].back] %}
	{% if backPage %}
		<div>
			<a href="/{{ backPage.path }}">
				<b>← {{ backPage.title }}</b>
			</a>
		</div>
	{% endif %}

	<div class="spacer-l"></div>

	{% set pageNumber = pages[page.fileSlug].number %}
	{% if pageNumber | isNumber %}
		<p class="large-body mono background-secondary">Nº {{ pageNumber | pad(2) }}{{ "." + itemNumber if itemNumber else "" }}</p>
		<div class="spacer-xs"></div>
	{% endif %}

	{% if title %}
		<h1>{{ title }}</h1>
	{% endif %}

	{% if description %}
		<div class="spacer-l"></div>
		<p>{{ description }}</p>
	{% endif %}
</header>

<div class="spacer-xl"></div>

<main>
	{{ content | safe }}
</main>

<div class="spacer-xl"></div>

{% include "partials/footer.njk" %}